{:aliases   {:bench {:extra-deps {criterium/criterium {:mvn/version "0.4.4"}}}
             :test {:extra-paths ["test"]}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}}