{:paths ["src"]
 :deps {github-puredanger/demo-deps {:git/url "https://github.com/puredanger/demo-deps"
                                     :sha "19d387dc11d804ab955207a263dfba5dbd15bf2c"}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}}
